.jumbotron {
    background-color: #ffcccd;
}
#about {
    background-color: #ffecec;
}
#about p {
    text-align: justify;
}
#projects {
    background-color: #ffcccd;
}
#contact {
    background-color: #ffecec;
}
section {
    padding-top: 7rem;
}
