@font-face {
    font-family: 'Comic Sans MS';
    src: url('comic-sans-ms/comici.ttf');
}
body {
    font-family: 'Comic Sans MS', sans-serif;
    overflow-x: hidden;
    width: 100vw;
}
.jumbotron {
    background-color: #ffcccd;
}
.lead {
    font-family: 'Courier New', Courier, monospace;
}
#about {
    background-color: #ffecec;
}
#about p {
    text-align: justify;
}
#projects {
    background-color: #ffcccd;
}
#contact {
    background-color: #ffecec;
}
section {
    padding-top: 7rem;
}
