html, body {
    font-family: cursive;
    overflow-x: hidden;
    width: 100vw;
}
.jumbotron {
    background-color: #ffcccd;
}
#jumbotron p {
    font-family: monospace;
}
#about {
    background-color: #ffecec;
}
#about p {
    text-align: justify;
}
#projects {
    background-color: #ffcccd;
}
#contact {
    background-color: #ffecec;
}
section {
    padding-top: 7rem;
}
